@import '../../styles/mixins';

html, body {
    width: 100%;
    height: 100vh;
}

#react-root, .home-app, .home-default-page {
    height: inherit;
}

.home-default-page {
    height: calc(100% - 64px);
}

.home-default-container {
    height: inherit;
}

.home-default-name {
    flex-grow: 1;
}

.home-default-login-container {
    flex-shrink: 1;
}