@import '../../styles/mixins';

.common-select-user {

}

.MuiCollapse-container-108.MuiCollapse-entered-109 {
    overflow: visible;
}

.MuiExpansionPanelDetails-root-112 {
    flex-direction: column;
}

.select-user-selected-items {
}

.select-user-delete-button {
    cursor: pointer;
}