@import '../../styles/mixins';

.users-show-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.users-show-list {
    width: 100%;
    max-width: 600px;
    background-color: white;
}

h2.user-title {
    margin-bottom: 20px;
}

div.list-text-second h3 {
    color: #6d6d6d;
    text-align: right;
}
